<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ta_fanisya">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/group_1__2_"
        android:label="@string/app_name"
        android:roundIcon="@drawable/group_1__2_"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tafanisya">
        <activity
            android:name=".HistoryUserActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".NotifProses"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".EmptyStock"
            android:exported="false" />
        <activity
            android:name=".Order"
            android:exported="false" />
        <activity
            android:name=".WaitScreen"
            android:exported="false" />
        <activity
            android:name=".Recap"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>